$color-main: #e0c0c3;
* {
  margin: 0; 
  padding: 0;
}

body {
  font-family: -apple-system, 'Helvetica', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 15%;
  @media screen and (max-width: 1200px) {
    margin: 0 10%;
  }
}