name: Build and Publish Docker
on:
  push:
    branches:
      - 'dev'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Publish to Docker Repository
      uses: elgohr/Publish-Docker-Github-Action@2.7
      with:
        name: ${{ secrets.DOCKER_REPO }}
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        tags: front-${{ github.ref }}
        workdir: .
        dockerfile: Dockerfile

#    - name: Down Pull Up docker remote host
#      uses: appleboy/ssh-action@master
#      with:
#        host: ${{ secrets.HOST }}
#        username: ${{ secrets.HOST_USERNAME }}
#        password: ${{ secrets.HOST_PASSWORD }}
#        script: |
#          cd ${{ secrets.PATH_BACKEND }}
#          docker-compose down
#          docker-compose pull
#          docker-compose up -d